/* CSS 초기화 */
* {
  box-sizing: border-box;
}

/* HTML, Body 초기화 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #F0FDF9;
}

/* Root 앱 컨테이너 설정 */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #2ED3B7;
  border-radius: 4px;
}
